In [17]:
# Dependencies
import requests
import espn_credentials
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
# Define URL parameters
league_id = espn_credentials.league_id
year = 2021

# Define the URL with our parameters
url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + \
      str(league_id) + "?seasonId=" + str(year)

response = requests.get(url, params={"view": "mMatchup"})

json = response.json()[0]

In [26]:
# Transform the entire json output into 
df = pd.json_normalize(json['schedule'])

In [27]:
# Define the column names needed
column_names = {
    'matchupPeriodId':'Week', 
    'away.teamId':'Team1', 
    'away.totalPoints':'Score1',
    'home.teamId':'Team2', 
    'home.totalPoints':'Score2',
}

# Reindex based on column names defined about
df = df.reindex(columns=column_names).rename(columns=column_names)

# Add a new column for regular/playoff game based on week number
df['Type'] = ['Regular' if week<=13 else 'Playoff' for week in df['Week']]

In [28]:
# Get a look at the data
df.head()

   Week  Team1  Score1  Team2  Score2     Type
0     1    1.0  107.47      2  122.72  Regular
1     1   11.0  137.67      4  151.86  Regular
2     1    3.0  191.56     14  130.37  Regular
3     1   12.0  123.95      8  126.94  Regular
4     1   10.0  131.38     13  153.60  Regular

In [57]:
# Set conditions, values to rename Team1 and Team2 from IDs to names
a